<div >
        <div class="title">
            <h1>First rails project</h1>

        </div>

        <div class="posts" id="post">

                <div >
                    <img class="image" src="<%= @post.media %>">
                    <div class="title">
                        <h2><%= @post.title %></h2>
                    </div>
                    <div >
                        <p><%= @post.body %></p>
                    </div>
                </div>

        </div>
</div>
